* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Dongle", sans-serif;
}

main {
    display: flex;
    /* justify-content: space-between; */
    padding: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container {
    width: 75%;
    max-width: 1000px;
    margin: auto;
}

.panda-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;
    background-color: rgb(248, 225, 160);
    color: rgb(194, 179, 112);
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 4rem;
}

.float-left {
    float: left;
}

.left-panel {
    width: 25%;
}

.right-panel {
    width: 75%;
}

#chat-window {
    background-color: rgb(248, 225, 160);
    height: 300px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    overflow-y: scroll;
}

#chat-form {
    display: flex;
    width: 80%;
    margin-top: 2rem;
}
input {
    width: 100%;
}
