main {
    display: flex;
    flex-direction: column;
}

#chat-window {
    display: block;
    background-color: rgb(248, 225, 160);
    height: 300px;
    width: 800px;
    margin: auto;
    border-radius: 20px;
}

#chat-form {
    display: flex;
    align-self: center;
    width: 800px;
    margin-top: 2rem;
}
input {
    width: 100%;
}
